* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html {
  background-color: #2c5e52;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: linear-gradient(135deg , #00feba , #5b548a);
  color: #fff;
  width: 400px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

#tagLine {
  text-transform: uppercase;
  margin-top: 30px;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 10px;
}

#cityInput {
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  height: 40px;
  text-decoration: none;
  text-transform: capitalize;
}

#iconBtn {
  cursor: pointer;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iconBtn img {
  width: 60%;
  height: 80%;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weatherDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.weatherDetails img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  align-items: center;
}

.humidityDetails,
.windDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#temp {
  font-size: 70px;
}

#cities {
  font-size: 30px;
}

#humidity,
#wind {
  font-size: 20px;
  font-weight: normal;
}
