/* media qurie for responsive web page */

/* ============= TABLETS (max-width: 992px) ============= */

/* @media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    justify-content: center;
  }

  #navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 2px;
  }

  #buttons {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
  }

  #containerFirst {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 780px;
    margin: 20px;
  }

  #downloadBtns button {
    height: 64px;
    width: 100%;
  }

  #tagLine {
    font-size: 25px;
    text-align: start;
    margin-right: 5px;
    margin-top: 30px;
  }

  #aboutSection {
    height: 100%;
    width: 80%;
  }

  #aboutSection p {
    font-size: x-large;
  }

  .projectContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
  }

  #projectSection h2 {
    font-size: 70px;
  }

  .img img {
    height: auto;
    width: 56vh;
  }

  .project1 {
    width: 60vh;
  }

  .img h3 {
    font-size: xxx-large;
  }

  #skillSection {
    display: flex;
    flex-wrap: wrap;
  }

  .skills h2 {
    font-size: 80px;
    font-weight: bolder;
    margin: 30px;
    margin-left: 100px;
  }

  .skills ul {
    padding: 50px;
    margin-left: 110px;
    width: 450px;
    font-size: xxx-large;
    gap: 30px;
  }

  #educationSection p {
    font-size: 30px;
  }

  #educationSection h2 {
    font-size: 65px;
  }

  #educationSection h3 {
    font-size: 35px;
  }

  .study {
    width: 600px;
  }

  #footer {
    padding: 20px;
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }
}

/* for moblie screen */

/* @media  (max-width: 767px) {
  body {
    overflow-x: visible;
    width: 100vh;
  }

  #navBar {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
  }

  body {
    width: 100vh;
  }

  #containerFirst {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 100vh;
    margin: 20px;
  }

  #aboutSection p {
    font-size: x-large;
    width: 85vh;
    height: auto;
  }

  .projectContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
  }

  #projectSection h2 {
    font-size: 70px;
  }

  .img img {
    height: auto;
    width: 80vh;
  }
  .study {
    width: 75vh;
    height: auto;
  }

  #educationSection p {
    font-size: 40px;
  }
  #educationSection h2 {
    font-size: 70px;
  }

  #educationSection h3 {
    font-size: 48px;
    padding: 32px;
  }

  #skillSection {
    display: flex;
    flex-wrap: wrap;
  }

  .skills h2 {
    font-size: 80px;
    font-weight: bolder;
    margin: 30px;
    margin-left: 100px;
  }

  .skills ul {
    padding: 50px;
    margin-left: 110px;
    width: 450px;
    font-size: xxx-large;
    gap: 30px;
  }

  #footer {
    padding: 20px;
    width: 100vh;
    height: auto;
  }
}  */
