* {
  background-color: #0e0c36;

  margin: 0px;
  padding: 0%;
  color: #e7f2ef;
}



/* // Navigation Bar Styles */

#navBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: -20px;
  z-index: 100;
  width: 100%;
  position: fixed;
  border-bottom: #c8acd6 2px solid;
  padding: 15px;
  padding-left: 40px;
  background-color: #080d2b;
}

#navBar div {
  margin-right: 20px;
  background-color: #080d2b;
}

#buttons {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 80%;
}

#navBar button {
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bolder;
  border: 2px solid #c8acd6;
  margin-left: 10px;
  margin-right: 15px;
  justify-content: end;
  background-color: #080d2b;
}

#navBar button:hover {
  background-color: #c8acd6;
  transition: 0.3s ease-in-out;
  color: rgb(5, 41, 70);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(192, 180, 192);
}

#frontEnd h1 {
  background-color: #080d2b;
  cursor: pointer;
}

/* Home Section Styles */

#containerFirst {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  margin: 20px;
  gap: 100px;
}

#tagLine {
  font-size: 25px;
  text-align: start;
  margin-right: 40px;
  margin-top: 50px;
}

#tagLine b {
  font-size: 50px;
  padding: 8px;
  box-shadow: 2px 2px 5px rgb(253, 253, 253);
  border: none;
  margin-bottom: 10px;
}

#tagLine p {
  font-size: 25px;
}

#tagLine i {
  font-size: 30px;
  color: #c8acd6;
  line-height: 3;
}

#profilePic {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  background-image: url(images/IMG_20251206_114630.JPG);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 20px 5px #c8acd6;
  margin-top: 85px;
}

#homeSection {
  height: 100%;
  width: 100%;
  text-align: start;
}

hr {
  height: 2px;
  background-color: #2e236c;
  color: #2e236c;
  border: none;
}

#downloadBtns {
  display: flex;
  margin-top: 30px;
  justify-content: start;
  align-items: start;
  gap: 30px;
}

#downloadBtns button {
  display: flex;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #c8acd6;
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
  height: 43px;
  align-items: center;
  justify-content: center;
}

#downloadBtns button i {
  margin-right: 0px;
  background-color: transparent;
  font-size: 20px;
  color: inherit;
}

#downloadBtns button:hover {
  background-color: #c8acd6;
  transition: 0.3s ease-in-out;
  color: rgb(5, 41, 70);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(192, 180, 192);
}

/* About Section Styles */

#aboutSection {
  height: 100%;
  width: 80%;
  text-align: start;
  margin: 30px;
  margin-left: 80px;
}

#aboutSection h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
}

#aboutSection p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.6;
  padding: 30px;
  box-shadow: 2px 3px 3px 3px #c8acd6;
  background-color: #17153b;
}

/* Education Section Styles */

#educationSection {
  height: 100%;
  width: 50%;
  text-align: start;
  margin: 30px;
  margin-left: 100px;
}

#educationSection h3 {
  font-size: 20px;
  font-weight: bolder;
  padding: 30px;
}

#educationSection h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.study {
  border: none;
  box-shadow: 2px 3px 3px 3px #c8acd6;
  width: 90%;
  border-radius: 20px;
}

#educationSection p {
  margin-left: 60px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#studyContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
}

/* Skills Section */

.skills h2 {
  font-size: 40px;
  font-weight: bolder;
  margin: 30px;
  margin-left: 100px;
}

.skills ul {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 35px;
  justify-content: space-around;
  align-items: start;
  margin-left: 100px;
  margin-bottom: 50px;
  gap: 15px;
  width: 350px;
  font-size: xx-large;
  border-radius: 20px;
  box-shadow: 2px 3px 3px 3px #c8acd6;
}

#skillSection {
  display: flex;
  align-items: end;
  justify-content: start;
}

#Languages {
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #c8acd6;
  text-transform: uppercase;
}

/* Project Section */

#projectSection h2 {
  font-size: 40px;
  font-weight: bolder;
  margin: 30px;
  margin-left: 100px;
}

/* Contact Section */

#contactSection h2 {
  font-size: 40px;
  font-weight: bolder;
  margin: 30px;
  margin-left: 100px;
}

.contactMe {
  margin-left: 100px;
  font-size: xx-large;
  margin-bottom: 60px;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 2px 3px 3px 3px #c8acd6;
}

#footer {

  background-color: #080d2b;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

#footer p {
  background-color: #080d2b;
}
