* {
  background-color: #17153b;
  margin: 0px;
  padding: 0%;
  color: #e7f2ef;
  box-sizing: border-box;
}

@media (max-width: 430px) {
  * {
    zoom: 80%;
    background-color: greenyellow;
  }
}

/* // Navigation Bar Styles */

#navBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin : -20px;
  z-index: 100;
  width: 100%;
  position: fixed;
  border-bottom: #c8acd6 2px solid;
  padding: 15px;
  padding-left: 40px;

}

#navBar div {
  margin-right: 20px;
}

#buttons {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 80%;
}

#navBar button {
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bolder;
  border: 2px solid #c8acd6;
  margin-left: 10px;
  justify-content: end;
}

#navBar button:hover {
  background-color: #c8acd6;
  transition: 0.3s ease-in-out;
  color: rgb(5, 41, 70);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(192, 180, 192);
}

#frontEnd {
  font-size: 30px;
  text-align: start;
  margin: 5px;
  cursor: pointer;
  animation: both 2s ease-in-out;
}
#navBar h1 :hover {
  color: #c8acd6;
  cursor: pointer;
  border: 2px solid #c8acd6;
  padding: 5px;
}

/* Home Section Styles */

#containerFirst {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  margin: 20px;
  gap: 50px;
}

#tagLine {
  font-size: 25px;
  text-align: start;
  margin-right: 40px;
}

#tagLine b {
  font-size: 50px;
  padding: 8px;
  box-shadow: 2px 2px 5px rgb(253, 253, 253);
  border: none;
  margin-bottom: 10px;
}

#tagLine p {
  font-size: 25px;
  
}

#tagLine i {
  font-size: 30px;
  color: #c8acd6;
  line-height: 3;
}

#profilePic {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  background-image:url()
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 20px 5px #c8acd6;
}

#homeSection {
  height: 100%;
  width: 100%;
  text-align: start;
}

hr {
  height: 2px;
  background-color: #2e236c;
  color: #2e236c;
  border: none;
}

#downloadBtns {
  display: flex;
  margin-top: 30px;
  justify-content: start;
  align-items: start;
  gap: 30px;
}

#downloadBtns button {
  display: flex;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #c8acd6;
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
  height: 43px;
  align-items: center;
  justify-content: center;
}

#downloadBtns button i {
  margin-right: 0px;
  background-color: transparent;
  font-size: 25px;
  color: inherit;
}

#downloadBtns button:hover {
  background-color: #c8acd6;
  transition: 0.3s ease-in-out;
  color: rgb(5, 41, 70);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(192, 180, 192);
  transform: skew(5deg);
}

/* About Section Styles */

#aboutSection {
  height: 100%;
  width: 80%;
  text-align: start;
  margin: 30px;
  margin-left: 80px;
}

#aboutSection h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
}

#aboutSection p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.6;
}

/* Education Section Styles */

#aboutSection {
  height: 100%;
  width: 60%;
  text-align: start;
  margin: 30px;
  margin-left: 100px;
}


#educationSection h2 {
    font-size: 40px;
    margin: 30px;
    font-weight: bolder;
    margin-left: 85px;
    padding: 10px;
}



