*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
/* box 1 */
.navbar{
    height:60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width:100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width:100%;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    padding: 3px;
}
/* box 2 */
.add-first{
    color: #cccccc;
    font-size: 0.80rem;
    margin-left: 15px;

}
.add-second{
    font-size: 1rem;
    margin-left: 4px;

}
.address-icon{
    display: flex;
    align-items:center;
}
/* box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* background-color: coral; */
    width: 600px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: f3f3f3;
    width: 5opx;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #e08610; 
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px; 
    color: black;
    border: none;
}
/* box 4 */
.nav-leng{
    display: flex;
}
.nav-icon{
    margin-right:5px;
    height: 40px;
    width: 20px;
}
.len-option{
    color: black;
    margin-left: 4px;
    height: 15px;
    width: 20px;
}
/* box 5 */

.sign-in-p1{
    font-size: 0.8rem;
}
.sign-in-p2{
    font-weight: bold;
}
/* box 6 */
.orders-p1{
    font-size: 0.8rem;
}
.orders-p2{
    font-weight: bold;
}
/* box 7 */

/*.nav-cart{
     display: flex; 
}*/

.cart-p1{
    font-weight: bold;
    font-size: small;
}
.cart-icon{
    font-size: 25px;
}
/* Panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
    display: inline;
    margin-left: 15px;
}
.panel-options{
    width: 80%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* Hero section */
.hero-image{
    background-image: url(hero_image.jpg);
    height: 300px;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}
.hero-msg{
    color: black;
    background-color: rgb(255, 255, 255);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 25px;
   font-weight: bold;
} 
.hero-msg a {
     text-decoration: none;
     color:#007185;
}
/* Shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #a7b8b4;
    margin: 0px, 5px, 0px, 5px; 
}
.box{
    border:none;
    height: 300px;
    width: 20%;
    background-color: white;
    margin-top: 20px;
    padding: 15px, 0px, 15px, 0px;
}
.box1-img{
    background-image: url(box1_image.jpg);
    background-size: cover;
    height: 250px;
}
.box1{
    padding: 15px;
    margin: 15px;
}
.box1 p{
    color:#007185 ;
    padding-top: 10px;
}
.box2-img{
    background-image: url(box2_image.jpg);
    background-size: cover;
    height: 250px;
}
.box2{
    padding: 15px;
    margin: 15px;
}
.box2 p{
    color:#007185 ;
    padding-top: 10px;
}
.box3-img{
    background-image: url(box3_image.jpg);
    background-size: cover;
    height: 250px;
}
.box3{
    padding: 15px;
    margin: 15px;
}
.box3 p{
    color:#007185 ;
    padding-top: 10px;
}
.box4-img{
    background-image: url(box4_image.jpg);
    background-size: cover;
    height: 250px;
}
.box4{
    padding: 15px;
    margin: 15px;
}
.box4 p{
    color:#007185 ;
    padding-top: 10px;
}
.box5-img{
    background-image: url(box5_image.jpg);
    background-size: cover;
    height: 250px;
}
.box5{
    padding: 15px;
    margin: 15px;
}
.box5 p{
    color:#007185 ;
    padding-top: 10px;
}
.box6-img{
    background-image: url(box6_image.jpg);
    background-size: cover;
    height: 250px;
}
.box6{
    padding: 15px;
    margin: 15px;
}
.box6 p{
    color:#007185 ;
    padding-top: 10px;
}
.box7-img{
    background-image: url(box7_image.jpg);
    background-size: cover;
    height: 250px;
}
.box7{
    padding: 15px;
    margin: 15px;
}
.box7 p{
    color:#007185 ;
    padding-top: 10px;
}
.box8-img{
    background-image: url(box8_image.jpg);
    background-size: cover;
    height: 250px;
}
.box8{
    padding: 15px;
    margin: 15px;
}
.box8 p{
    color:#007185 ;
    padding-top: 10px;
}
/* Footer */
.footer{
    margin-top: 10px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
}
.foot-panel2{
    background-color: #252f3b;
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 5px;
}
ul p{
    font-weight: bold;
      margin-top: 10px;
}

.foot-panel3{
    background-color: #252f3b;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-b{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width:100px;
}